<article>
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Main component for a primary marketing message or call to action -->
        <h1>Mainology</h1>
        <p>On Wikipedia, when an article's section becomes too big, it stems in a new article (<a href="https://en.wikipedia.org/wiki/Wikipedia:Summary_style">see here</a>). The link among the two pages is defined using the <a href="https://en.wikipedia.org/wiki/Template_talk:Main">"main" template</a>. One complex topic is therefore covered by many articles. This tool allows you to follow the "main article" links starting from one or more pages.
          This tool works only with the English version of Wikipedia.</p>

        <p style="padding-top:13px;">Source code available on <a href="https://github.com/densitydesign/strumentalia-mainology">Github <i class="fa fa-github"></i></a> </p>

      </div>
    </div>
  </div>
</section>

<script type="text/ng-template" id="categoryTree">
  <td>{{$parent.entity.name}}</td><td>{{son.name}}</td><td>{{son.index}}</td>
  <tr ng-if="entity.sons" ng-repeat="entity in entity.sons" ng-include="'categoryTree'"></tr>
</script>
<section class="tool">
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="message">
              Paste a wikipedia article here</label>
                        <textarea  name="message" id="message" class="form-control" rows="9" cols="25"
                                   placeholder="ex: http://en.wikipedia.org/wiki/Climate_change"  ng-model="$parent.query"></textarea>


          </div>
          <div class="row">
            <div class="col-md-12">
              <div ng-show="alert" class="alert alert-warning" role="alert">Ouch. There is a mistake</div>
            </div>
          </div>



        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>Distance</label>
            <span class="help"></span>
            <div class="controls col-xm-3">
              <input type="number"  name="input" ng-model="$parent.iterations" min="1" max="99" style="width:100px" required>
            </div>
          </div>
        </div>
        <div class="col-md-10 play">
          <button ng-show="finished" type="button" ng-click="update()" class="btn btn btn-success btn-lg btn-block">Start Crawling</button>
          <div style="margin:0" ng-show="!finished && visited<count"  class="btn btn btn-success btn-lg btn-block">{{visited}} / {{count}} parent nodes resolved</div>
          <div style="margin:0" ng-show="!finished && visited>=count"  class="btn btn btn-success btn-lg btn-block">Retrieving leaves information</div>
        </div>


      </div>




    </div>


    <div ng-show="showlinks.length || done" class="results col-md-8">
      <div class="box">
        <label>Results preview</label>
        <table ng-show ="showlinks.length" class="table table-striped">
          <thead>
          <tr>
            <th>Source</th>
            <th>Target</th>
            <th>Level</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="entity in showlinks">
            <td>{{entity.source}}</td><td>{{entity.target}}</td><td>{{entity.index}}</td>
          </tr>
          </tbody>
        </table>
        <div class="no-res" ng-hide="showlinks.length">No linked pages found.</div>
      </div>
    </div>

    <div ng-show ="showlinks.length" class="report col-md-4">
      <div class="box">

        <div class="btn-group">
          <button ng-disabled="!finished" type="button" class="btn btn-success btn-lg">Download</button>
          <button ng-disabled="!finished" type="button" class="btn btn-success dropdown-toggle btn-lg " data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="downloadJSON()" href="#">JSON</a></li>
            <li><a ng-click="downloadCSV()" href="#">TSV</a></li>
            <li><a ng-click="downloadGEXF()" href="#">GEXF</a></li>
          </ul>
        </div>

        <!--  <button type="button" ng-show="download" class="btn btn-info" ng-click="downloadJSON()">Download JSON</button>
          <button type="button" ng-show="download" class="btn btn-info" ng-click="downloadCSV()">Download CSV</button>-->

        <div class="notFound">
          <div class="lbl"><b>Not found</b></div>
          <ul>
            <li ng-repeat="page in notFound track by $index">{{page}}</li>
          </ul>
        </div>
        <br/>

        <!--  <div class="repeated">
              <div class="lbl"><b>Repeated pages</b></div>
              <ul>
                  <li ng-repeat="page in repeated track by $index">{{page}}</li>
              </ul>
          </div>-->
      </div>
    </div>


  </div>
</section>
</article>
